@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap');


* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
font-family: 'Playfair Display', serif;
  

}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;

}

.w50 {
  width: 50%;
  float: left;
  padding-right: 15px;
}

.box {
  display: flex;
  float: 930px;
  ;

}

.img-box {
  background-color: #65BEB2 ;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px 0 0 20px;

}

.img-box img {
  width: 100%;
}


.form-box {
  background-color: #9AD6CE ;
  backdrop-filter: blur(40px);
  padding: 30px 40px;
  width: 50%;
  border-radius: 0% 20px 20px 0;
}

.form-box h2 {
  font-size: 30px;
}

.form-box p {
  font-weight: bold;
  color: black;

}

.form-box p a {
  color: rgb(25, 0, 255);
  text-decoration: none;

}

.form-box form {
  margin: 20px 0;
  
}

.input-group{
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.input-group button{
  width: 100px;
  height: auto;
}

#button-container{
  margin: auto;
  display: block;
  margin-top: 4em;
}

form.input-group {
  margin-bottom: 15px;

}

form.input-group label {
  color: brown;
  font-weight: bold;
  display: block;
  margin-top: 5px;
}
form .input-group input{
  width: 100%;
  height:46px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font: 15px;
  color: #616161;


}
