@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #ffff;
  text-decoration: none;
  transition: 0.3s;
  list-style: none;
}

.nav-list :hover {
  opacity: 0.7;
  color: darkblue;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  font-size: 2px;
  text-transform: uppercase;
  margin-top: 0%;
  letter-spacing: 4px;

}

.photo_usuario {
  height: 70px;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #9AD6CE;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
  text-decoration: none;
}

.nav-list li {

  letter-spacing: 3px;
  margin-left: 32px;
  list-style: none;
  text-decoration: none;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  color: #ffff;
  background: #9AD6CE;
  text-decoration: none;
  margin: top px;
}

selection.lider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
}

.slider-content {
  width: 500%;
  height: auto;
  display: flex;
}

.slider-content input {
  display: none;

}

.sider-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
}

.slider-box img {
  width: 100%;
}

.nav-manual,
.nav-auto,
.nav-auto div {

  position: absolute;
  width: 100%;
  margin-top: 35%;
  justify-content: center;
}

.nav-manual .manual-btn {
  border: 1px solid #9AD6CE;
  padding: 10px;
  border-radius: 65%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child) {
  margin-right: 10px;

}

.nav-manual .manual-btn:hover {
  background-color: #9AD6CE;
}

#radio1:checked~.nav-auto .manual-btn1 {
  background-color: #9AD6CE;
}


#radio2:checked~.nav-auto .manual-btn2 {
  background-color: #9AD6CE;
}


#radio3:checked~.nav-auto .manual-btn3 {
  background-color: #9AD6CE;
}
